{% extends 'admin_html.html' %}
       {% block navbar %}
       <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-fixed">
          <div class="list-group list-group-flush mx-3  w-45" style="margin-top: 42px;" >
            <a href="dashboard" class="list-group-item list-group-item-action py-2 ripple mt-3 " style="text-decoration:none ;" aria-current="true">
              <i class="fa-sharp fa-solid fa-house"></i> <span >Dashboard</span>
            </a>
            <a href="users" class="list-group-item list-group-item-action py-2 ripple  mt-3  ">
              <i class="fa-sharp fa-solid fa-user"></i> <span >Users</span>
            </a>
            <a href="product" class="list-group-item list-group-item-action py-2 ripple mt-3 active  ">
              <i class="fa-solid  fa-cart-shopping"></i> <span>Products</span></a>
              <a href="oders" class="list-group-item list-group-item-action py-2 ripple mt-3">
                <i class="fa-solid fa-bolt"></i> <span>Oders</span></a>
                <a href="coupon!0" class="list-group-item list-group-item-action py-2 ripple mt-3">
                  <i class="fa-solid fa-bolt"></i> <span>Coupon</span></a>
          </div>
        </div>
      </nav>
       {% endblock navbar %}
       {% block content %}
       <section class="vh-100 mt-5">
           <div class="container py-5 h-100">
             <div class="row d-flex justify-content-center align-items-center h-100">
               <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                 <div class="card shadow-2-strong" style="border-radius: 1rem;">
                   <div class="card-body p-5 text-center">
                     <h3 class="mb-5">Edit Product</h3>
                      <h5 style="color:black;">{{m}}</h5>
                    <form action="" method="post" enctype="multipart/form-data">
                     {% csrf_token %}
                     {% for product  in products  %}
                     <div class="form-outline mb-4">
                       <input name='Product_Name' type="name" value="{{product.product_name}}" placeholder="Enter product name" id="typeEmailX-2" class="form-control form-control-lg" required />
                     </div>
                     <div class="form-outline mb-4">
                       <input name='Description' type="text" value="{{product.product_description}}" placeholder="Description" id="typeEmailX-2" class="form-control form-control-lg" required />
                     </div>
                     <div class="form-outline mb-4">
                       <input name='Product_Price' type="number" value="{{product.product_price}}" placeholder="Enter product Price" class="form-control form-control-lg" required  />
                     </div>
                     <div class="form-outline mb-4">
                    <label class="fw-bold">Choose the category:</label>
                    <select  onchange="da()" name="category" id="cars">
                        <option value="{{product.category}}">{{product.category}}</option>
                        <option value="men">Men</option>
                        <option value="women">women</option>
                        <option value="kids">Kids</option>
                    </select>
                     </div>
                     <div class="form-outline mb-4">
                      <label class="fw-bold">Choose the sub-category:</label>
                      <select  name="subcat" id="subcat">
                          <option id="opt1" value="{{product.subcategory}}">..</option>
                          <option id="opt2" value="{{product.subcategory}}">..</option>
                          <option id="opt3" value="{{product.subcategory}}">..</option>
                      </select>
                       </div>
                     <div class="form-outline mb-4">
                      <label class="fw-bold" for="img">Select image:</label>
                      <input type="file" id="img" value="media/{{product.product_image}}" name="img" accept="image/*">
                    </div>
                     <button class="btn btn-primary btn-lg btn-block" type="submit">submit</button>
                     {% endfor %}
                   </form>
                     <hr class="my-4">
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </section>
         <script>
            function da(){
              var s=document.getElementById("cars").value
              console.log(s=="men")
               switch (s) {
                case "men":
                  document.getElementById("opt1").innerHTML="Shirt"
                  document.getElementById("opt2").innerHTML="pant"
                  document.getElementById("opt3").innerHTML="T-shirt"
                  document.getElementById("opt1").value="Shirt"
                  document.getElementById("opt2").value="pants"
                  document.getElementById("opt3").value="T-shirt"
                  break;
                case "women":
                document.getElementById("opt1").innerHTML="Saree"
                document.getElementById("opt2").innerHTML="Churidar"
                document.getElementById("opt3").innerHTML="Top-jeans"
                document.getElementById("opt1").value="Saree"
                document.getElementById("opt2").value="Churidar"
                document.getElementById("opt3").value="Top-jeans"
                  break;
                case "kids":
                document.getElementById("opt1").innerHTML="Pant"
                document.getElementById("opt2").innerHTML="shirt"
                document.getElementById("opt3").innerHTML="Skirt"
                document.getElementById("opt1").value="Pant"
                document.getElementById("opt2").value="shirt"
                document.getElementById("opt3").value="Skirt"
                  break;
                case 3:
              } 

            }
             
         </script>
       {% endblock  %}