.img_div{
    display: none;
}

.confirm_cls{
    display: none;
}


#main{
 margin-top: 58px;
  margin-left: 23vh;
}
ul {
    list-style-type: none;
}
a{
    text-decoration: none;
}

#hide{
    font-size:larger;
    color: black;
}
#div-nav{
    display: none;
}
#con-text{
    font-size: 25px;
}
#card-div{
    max-width: 18rem;
}

@media (max-width:990px) {
    #img-logo{
        width: 125px;
    }
    #buttn{
        width: 30px;
    }
    #div-nav{
        display: block;
    }
    #main{
        margin-top: 45px;
         margin-left: 35px;
       }
    #hide{
        font-size:medium;
    }
    #con-text{
        font-size: 15px;
    }
    #card-div{
        max-width: 13rem;
    }
    }